# Redireccionar errores 404 a nuestra página personalizada
ErrorDocument 404 /solutia/cssfinal/practicaSolutia4/ticket_system/views/errors/404.php

# Prevenir la visualización del listado de directorios
Options -Indexes

# Habilitar el motor de reescritura
RewriteEngine On

# Si la solicitud no es un archivo o directorio existente
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d

# Redireccionar a la página de error 404
RewriteRule ^ /solutia/cssfinal/practicaSolutia4/ticket_system/views/errors/404.php [L]
